@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");

body {
  font-family: "Open Sans", sans-serif;
  margin: 0px;
  height: 200vh;
}
header {
  padding: 0px 25px;
  position: fixed;
  top: 0px;
  width: 100%;
  box-sizing: border-box;
  background-color: #ffce33;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
  z-index: 1;
}
main {
  padding: 0px 25px;
}
header span {
  font-size: 25px;
  font-weight: 700;
}
.search {
  width: 100%;
  position: fixed;
  z-index: 2;
  display: flex;
  justify-content: center;
  top: 122px;
}
form {
  width: 80%;
  display: flex;
  justify-content: space-between;
  height: 55px;
  background-color: white;
  border-radius: 25px;
  padding: 0px 15px;
  align-items: center;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}
form input {
  height: 30px;
  border: none;
  width: 90%;
  outline: none;
  font-size: 20px;
}
form input::placeholder {
  font-size: 20px;
}
form button {
  background-color: white;
  border: none;
}
form button i {
  opacity: 0.5;
}
.contents-header {
  font-size: 25px;
  font-weight: 700;
  margin: 20px 0px;
}
.layer0 {
  margin-top: 210px;
}
.book {
  width: 100%;
  display: flex;
  padding-bottom: 10px;
}
.book img {
  border-radius: 10px;
}
.book-info {
  width: 230px;
  margin-left: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.book-info__title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100px;
}
.book-name {
  font-size: 22px;
  font-weight: 700;
}
.book-author {
  opacity: 0.4;
  font-weight: 600;
}
.yellow-star {
  color: #ffce34;
}
.blur-star {
  opacity: 0.13;
}
.book-journey {
  display: flex;
}
.book-journey span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.07);
  border-radius: 10px;
  font-size: 14px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.5);
}
.book-journey span:first-child {
  margin-right: 20px;
}
.book-order {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.book-order div {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffce34;
  display: flex;
  justify-content: center;
  align-items: center;
}
.book-order span {
  width: 150px;
  height: 44px;
  border-radius: 5px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-adventures {
  width: 100%;
  display: flex;
  overflow-x: scroll;
  height: 190px;
}
.top-adventures::-webkit-scrollbar {
  background-color: rgba(0, 0, 0, 0.2);
  height: 4px;
}
.top-adventures::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4);
}
.top-adventures div {
  display: flex;
  flex-direction: column;
  width: 150px;
  justify-content: space-between;
  padding-bottom: 8px;
}
.top-adventures span {
  text-align: center;
}
.popular-authors {
  display: flex;
}

.popular-authors div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 0px 20px 20px;
  width: 250px;
}
.popular-authors div span:first-child {
  font-size: 20px;
  font-weight: 700;
}
.popular-authors div span:last-child {
  color: rgba(0, 0, 0, 0.5);
}
.popular-authors img {
  width: 140px;
  height: 180px;
  border-radius: 10px;
}
